.red {
  color: red;
  font-weight: bold;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  border-radius: 4px;
  max-width: 500px;
  height: 550px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  box-shadow: rgb(102, 101, 101) 2px 2px 8px;
}

.container:hover {
  box-shadow: rgb(102, 101, 101) 4px 4px 8px;
}

h1,
h2 {
  text-align: center;
}

h1:hover {
  font-size: 2.2rem;
}

h2 {
  margin-top: 50px;
  font-weight: normal;
  font-size: 2rem;
}

h2:hover {
  font-weight: bold;
}

input {
  text-align: center;
  display: inline-block;
  width: 400px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: black 1px 1px 2px;
  margin-top: 50px;
  font-size: 1.6rem;
}

input:hover {
  border: 2px solid black;
}

.convert {
  display: block;
  margin: 5px 0px;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: tomato;
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: black 1px 1px 4px;
}

.convert:hover {
  box-shadow: black 2px 2px 8px;
  width: 152px;
  height: 52px;
}

.clear {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: black 1px 1px 4px;
}

.clear:hover {
  box-shadow: black 2px 2px 8px;
  width: 52px;
  height: 52px;
}

span {
  font-size: 1.4rem;
  font-weight: bold;
}

#result {
  display: inline-block;
  width: 240px;
  font-size: 1.4rem;
  font-weight: normal;
}

#msg {
  margin-top: 20px;
}

.result {
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 4px;
  margin-top: 80px;
  box-shadow: rgb(138, 135, 135) 1px 1px 3px;
}
